<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Pagina de inicio</h3>
    <!-- <% if(login) {%>
        <h1>El usuario conectado es:<strong><%= name %></strong></h1>
        <a href="logout" class="a-logout">Logout</a>
   <% } else {%>
        <h1><strong><%= name %></strong></h1>
        <a href="login" class="a-login">Login</a>
    <%}%> -->
</body>
</html>
